<ion-header color="negroZango">
  <ion-toolbar color="negroZango" class="bordeVZ">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Registrar Empresa</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="negroZango">
  <ion-card-content>
    <form>
      <ion-item color="fondoNZ">
        <ion-label position="stacked"></ion-label>
        <ion-input placeholder="Número de la empresa"></ion-input>
        <ion-input placeholder="Nombre de la empresa"></ion-input>
        <ion-input placeholder="No. de trampas interiores"></ion-input>
        <ion-input placeholder="No. de trampas exteriores"></ion-input>
        <ion-input placeholder="No. de lámparas"></ion-input>
        <ion-input placeholder="Dirección"></ion-input>
        <ion-input placeholder="Ciudad"></ion-input>
        <ion-input placeholder="Estado"></ion-input>
        <ion-input placeholder="Código Postal"></ion-input>
      </ion-item>
      <ion-row no-border>
        <ion-col size="10" offset="1" no-border>
          <ion-button color="verdeZango" expand="full" shape="round" node="ios">
            Registrar
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card-content>
</ion-content>