<ion-header>
  <ion-toolbar color="negroZango" class="bordeV tb">
    <ion-buttons slot="start" defaultHref="/">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Portada de servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card color="negroZango">
    <ion-card class="ct" color="negroZango">
      <ion-row>
        <ion-col>
          Hora
        </ion-col>
        <ion-col>
          Fecha
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-row>
      <ion-col>

        <ion-row class="ct">
          <ion-col>
            Inicio
            <ion-input class="bordeV"></ion-input>
          </ion-col>
          <ion-col>
            Termino
            <ion-input class="bordeV"></ion-input>
          </ion-col>
        </ion-row>

      </ion-col>

      <ion-col class="ct">

        <ion-row>
          <ion-col>
            dd-mm-aaaa
            <ion-input class="bordeV"></ion-input>
          </ion-col>
        </ion-row>

      </ion-col>




    </ion-row>

<ion-card>
  <ion-row>
    <ion-col>

    </ion-col>
    <ion-col>
      
    </ion-col>
  </ion-row>
</ion-card>

  </ion-card>


</ion-content>