<ion-header>
  <ion-toolbar color="dark">
    <ion-title size="small">REPORTES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="empresas">
    <ion-button color="dark">
      <div class="text">
        Tehuacán
      </div>
      <ion-icon name="arrow-forward" slot="end" color="primary"></ion-icon>
    </ion-button>
    <ion-button color="dark">
      <div class="text">
        Ajalpan
      </div>
      <ion-icon name="arrow-forward" slot="end" color="primary"></ion-icon>
    </ion-button>
  </div> -->
  <div class="empresas" *ngFor="let d of datos">
    <ion-button color="dark">
      <div class="text">
        {{d.nombre}}
      </div>
      <ion-icon name="arrow-forward" slot="end"  color="primary"></ion-icon>
    </ion-button>
  </div>

  <div>
    <form #f="ngForm"  (ngSubmit)="prueba(f)" >
      
      <div *ngFor="let d of datos" >
        
        <ion-input type="text" ngModel name="{{'nombre'+d.nombre}}"></ion-input>
        <ion-input ngModel name="{{'apelid'+d.nombre}}"></ion-input>
      </div>
     
      <ion-button expand="block" type="submit">Create account</ion-button>
    </form>
  </div>
</ion-content>