<ion-header>
  <ion-toolbar color="negroZango" class="bordeV tb ct">
    <ion-title size="small">Ver Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="negroZango" class="ct">

  <div class="empresas" *ngFor="let d of datos">
    <ion-button (click)="irReportes()" color="verdeZango">
      <div class="text">
        {{d.nombre}}
      </div>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-button>
  </div>
    <br>
  <ion-button color="verdeZango" (click)="pruebas()">Generar</ion-button>
  
</ion-content>