<ion-header>
  <ion-toolbar color="negroZango" class="bordeV tb">
    <ion-buttons slot="start" defaultHref="/">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Trampas Exteriores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="negroZango" class="tb">

<ion-card color="negroZango" class="ct">
  <ion-card style="text-align: center;" color="negroZango" class="bordeV" >
    <ion-row>
      <ion-col size="12">
        Numero del reporte 
        <ion-input></ion-input>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card style="text-align: center;" color="negroZango">
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col size="3">#</ion-col>
          <ion-col size="9">Observacion</ion-col>
        </ion-row>
      </ion-col>
      <ion-col style="padding-top: 3%;">Actividad</ion-col>
    </ion-row>
  </ion-card>
  1
  <ion-card class="bordeV ct" color="negroZango" >
    <ion-row>

      <ion-col>
        <ion-row>
          <ion-col class="bordeV" size="4">
            <ion-input></ion-input>
          </ion-col>
          <ion-col class="bordeV" size="8">
            <ion-input></ion-input>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col class="">
        <ion-row>
          <ion-col>
            <div>
              <ion-label>CC</ion-label>
              <ion-checkbox color="success" slot="end"></ion-checkbox>
            </div>
            <div>
              <ion-label>EE</ion-label>
              <ion-checkbox color="success" slot="end"></ion-checkbox>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-label>SC</ion-label>
              <ion-checkbox color="success" slot="end"></ion-checkbox>
            </div>
            <div>
              <ion-label>ER</ion-label>
              <ion-checkbox color="success" slot="end"></ion-checkbox>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-label>ED</ion-label>
              <ion-checkbox color="success" slot="end"></ion-checkbox>
            </div>
            <div>
              <ion-label>EB</ion-label>
              <ion-checkbox color="success" slot="end"></ion-checkbox>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>
  </ion-card>
</ion-card>

</ion-content>
